<html>
	<head>
		<title>{% block title %} Default {% end %} </title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<style type="text/css">
			body{
				padding-top: 20px;
				//padding-bottom: 40px;
				margin: 0 auto;
				max-width: 700px;
			}
			.container-narrow{
				margin: 0 auto;
				max-width: 700px;
			}
    		.container-narrow > hr{
				margin: 30px 0;
			}
		</style>
	</head>
	<div class="container-narrow">
		<ul class="nav nav-pills pull-right"> 
			<li> <a href="/">Problems</a></li>
			<li> <a href="/status">Status</a></li>
		</ul>
		<h3 class="muted">Unsafe Online Judge</h3>
	</div>
	<body>
        {% block cont %}
        {% end %}
	</body>

</html>
