{% extends "base.html" %}

{% block title %} Unsafe Online Judge {% end %}

{% block cont %}

<h2>Problems:</h2>

<table class="table">
    <tr><th>id</th><th>title</th></tr>
{% for prob in probs %}
    <tr>
        <td>{{prob["id"]}}</td>
        <td><a href="/prob/{{prob["id"]}}">{{prob["title"]}}</a></td>
    </tr>
{% end %}
</table>

{% end %}
