{% extends "base.html" %}

{% block title %} USOJ:{{prob["title"]}} {% end %}

{% block cont %}

<h1>{{prob["title"]}}</h1>

<p>
{{prob["content"]}}
</p>

<br>
<br>
<br>
<a href="/submit/{{prob["id"]}}">Submit</a>
{% end %}
