{% extends "base.html" %}

{% block title %} Unsafe Online Judge {% end %}


{% block cont %}

<h1>Status</h1>

<table class="table table-hover">
<tr><th>ID</th><th>Prob</th><th>Name</th><th>ExeTime(ms)</th><th>Status</th></tr>
{% for submit in submits %}
<tr class="
{% if submit["verdict"] == 2 %}
    success
{% end %}
{% if submit["verdict"] == 3 %}
    warning
{% end %}
{% if submit["verdict"] == 4 %}
    info
{% end %}
{% if submit["verdict"] == 5 %}
    error
{% end %}
"
>
	<td><a href="/code/{{submit["id"]}}">{{submit["id"]}}</a></td>
    <td><a href="/prob/{{submit["probid"]}}">Prob {{submit["probid"]}}</a>
    <td>{{submit["who"]}}</td>
    <td>{{submit["exetime"]}}</td>
    <td>
{% if submit["verdict"] == 1 %}
    Waiting
{% end %}
{% if submit["verdict"] == 2 %}
    Accepted
{% end %}
{% if submit["verdict"] == 3 %}
    Wrong Answer
{% end %}
{% if submit["verdict"] == 4 %}
    Time Limit Excess
{% end %}
{% if submit["verdict"] == 5 %}
    Compiled Error
{% end %}
{% if submit["verdict"] == 6 %}
    System Error
{% end %}
    </td>

</tr>
{% end %}
</table>

{% end %}
