{% extends "base.html" %}

{% block title %} USOJ: Submit Problem {% end %}

{% block cont %}

<form class="form" action="/submit/{{pid}}" method="post">
    <label class="control-label">Submit Problem:</label>
    <input type="text" name="pid" value="{{pid}}"><br>
    <label class="control-label">Name:</label>
    <input type="text" name="name"><br>
    <label class="control-label ">Code:</label>
    <textarea name="code" class="input-block-level" rows="8" cols="60"> </textarea>
    <p><input  class="btn btn-primary" type=submit value="submit"></p>
</form>

{% end %}
